*{
    margin: 0;
    padding: 0;
}
body{
    background: #000500;
}
.galeria{
    width: 100%;
}
.galeria img{
    vertical-align: top;
    width: 300px;
    margin: 20px;
    padding: 5px;
    border: 1px solid #484848;
    opacity: 0.5;
}
.galeria img:hover{
    border: 1px solid #fff;
    opacity: 1;
}
